In [79]:
# Import Necessary libraries
import pandas as pd

In [80]:
# Extraction layer
ziko_df = pd.read_csv(r'ziko_logistics_data.csv')

In [81]:
ziko_df.head()

,Transaction_ID,Date,Customer_ID,Product_ID,Quantity,Unit_Price,Total_Cost,Discount_Rate,Sales_Channel,Order_Priority,...,Return_Reason,Payment_Type,Taxable,Region,Country,Customer_Name,Customer_Phone,Customer_Email,Customer_Address,Product_List_Title
0,200,2020-01-01 20:32:25.945945945,1086,536,3,120.436821,8265.374549,0.20,Online,High,...,Wrong Item,Wire Transfer,False,West,Canada,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA",Product 53
1,321,2020-01-02 06:55:08.108108108,1078,523,6,475.724994,4047.850479,NaN,Reseller,Critical,...,Damaged,PayPal,True,South,Mexico,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA",Product 33
2,989,2020-01-06 08:12:58.378378378,1077,535,3,146.400556,NaN,0.05,Direct,Critical,...,Damaged,PayPal,True,West,Canada,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA",Product 6
3,682,2020-01-07 22:03:14.594594594,1027,546,6,19.373194,8194.281993,NaN,Reseller,Medium,...,Wrong Item,Cash,True,South,Canada,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA",Product 68
4,484,2020-01-07 07:08:06.486486486,1052,556,8,193.221313,8331.329249,0.20,Direct,Low,...,Late,Cash,False,South,Mexico,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA",Product 89

In [82]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   object
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             904 non-null    float64
 6   Total_Cost             905 non-null    float64
 7   Discount_Rate          714 non-null    float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          904 non-null    object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 182.7+ KB

In [83]:
ziko_df.columns

Index(['Transaction_ID', 'Date', 'Customer_ID', 'Product_ID', 'Quantity',
       'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel',
       'Order_Priority', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status',
       'Customer_Satisfaction', 'Item_Returned', 'Return_Reason',
       'Payment_Type', 'Taxable', 'Region', 'Country', 'Customer_Name',
       'Customer_Phone', 'Customer_Email', 'Customer_Address',
       'Product_List_Title'],
      dtype='object')

Data Cleaning and Transformation

In [84]:
# Filling the missing values
ziko_df.fillna({
    "Unit_Price" : ziko_df["Unit_Price"].mean(),
    "Total_Cost" : ziko_df["Total_Cost"].mean(),
    "Discount_Rate" : 0.0,
    "Return_Reason" : "Unknown"
}, inplace=True)

In [85]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   object
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             1005 non-null   float64
 6   Total_Cost             1005 non-null   float64
 7   Discount_Rate          1005 non-null   float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          1005 non-null   object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 182.7+ KB

In [86]:
# Changing the date format to datetime 
ziko_df['Date'] = pd.to_datetime(ziko_df['Date'])
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   datetime64[ns]
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             1005 non-null   float64
 6   Total_Cost             1005 non-null   float64
 7   Discount_Rate          1005 non-null   float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          1005 non-null   object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(3), int64(4), object(15)
memory usage: 182.7+ KB

Creating the Customer table

In [87]:
ziko_df.columns

Index(['Transaction_ID', 'Date', 'Customer_ID', 'Product_ID', 'Quantity',
       'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel',
       'Order_Priority', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status',
       'Customer_Satisfaction', 'Item_Returned', 'Return_Reason',
       'Payment_Type', 'Taxable', 'Region', 'Country', 'Customer_Name',
       'Customer_Phone', 'Customer_Email', 'Customer_Address',
       'Product_List_Title'],
      dtype='object')

In [88]:
customer = ziko_df[['Customer_ID', 'Customer_Name', 'Customer_Phone', 'Customer_Email', 'Customer_Address']].copy().reset_index(drop=True).drop_duplicates()

customer.head()

,Customer_ID,Customer_Name,Customer_Phone,Customer_Email,Customer_Address
0,1086,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA"
1,1078,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA"
2,1077,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA"
3,1027,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA"
4,1052,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA"

In [89]:
customer.shape

(1000, 5)

Product Table

In [90]:
product = ziko_df[['Product_ID', 'Product_List_Title', 'Quantity', 'Unit_Price']].copy().reset_index(drop=True).drop_duplicates()

product.head()

   Product_ID Product_List_Title  Quantity  Unit_Price
0         536         Product 53         3  120.436821
1         523         Product 33         6  475.724994
2         535          Product 6         3  146.400556
3         546         Product 68         6   19.373194
4         556         Product 89         8  193.221313

Transaction Fact Table

In [91]:
transaction_fact_table = ziko_df.merge(customer, on=['Customer_ID', 'Customer_Name', 'Customer_Phone', 'Customer_Email', 'Customer_Address'], how = 'left')\
                                .merge(product, on=['Product_ID', 'Product_List_Title', 'Quantity', 'Unit_Price'], how = 'left')\
                                [['Transaction_ID','Customer_ID', 'Product_ID', 'Date', 'Total_Cost', 'Discount_Rate', 'Sales_Channel','Order_Priority', 'Warehouse_Code'\
                                , 'Ship_Mode', 'Delivery_Status','Customer_Satisfaction', 'Item_Returned', 'Return_Reason', 'Payment_Type', 'Taxable', 'Region', 'Country']]

In [92]:
transaction_fact_table.head()

,Transaction_ID,Customer_ID,Product_ID,Date,Total_Cost,Discount_Rate,Sales_Channel,Order_Priority,Warehouse_Code,Ship_Mode,Delivery_Status,Customer_Satisfaction,Item_Returned,Return_Reason,Payment_Type,Taxable,Region,Country
0,200,1086,536,2020-01-01 20:32:25.945945945,8265.374549,0.20,Online,High,WH-3,2-Day,Cancelled,Neutral,False,Wrong Item,Wire Transfer,False,West,Canada
1,321,1078,523,2020-01-02 06:55:08.108108108,4047.850479,0.00,Reseller,Critical,WH-1,Overnight,Backorder,Satisfied,True,Damaged,PayPal,True,South,Mexico
2,989,1077,535,2020-01-06 08:12:58.378378378,5096.553818,0.05,Direct,Critical,WH-1,Overnight,Pending,Unsatisfied,True,Damaged,PayPal,True,West,Canada
3,682,1027,546,2020-01-07 22:03:14.594594594,8194.281993,0.00,Reseller,Medium,WH-1,Express,Pending,Unsatisfied,False,Wrong Item,Cash,True,South,Canada
4,484,1052,556,2020-01-07 07:08:06.486486486,8331.329249,0.20,Direct,Low,WH-2,2-Day,Delivered,Satisfied,True,Late,Cash,False,South,Mexico

Save tables created to CSV

In [93]:
customer.to_csv(r'cleaned_data/customer.csv', index=False)
product.to_csv(r'cleaned_data/product.csv', index=False)
transaction_fact_table.to_csv(r'cleaned_data/transaction_fact_table.csv', index=False)

Data Loading to Azure Blob Storage

In [94]:
# NECESSARY LIBRARIES
!pip install pyarrow azure-storage-blob python-dotenv psycopg2

Requirement already satisfied: pyarrow in c:\users\dell\anaconda3\lib\site-packages (16.1.0)
Requirement already satisfied: azure-storage-blob in c:\users\dell\anaconda3\lib\site-packages (12.24.1)
Requirement already satisfied: python-dotenv in c:\users\dell\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: psycopg2 in c:\users\dell\anaconda3\lib\site-packages (2.9.10)
Requirement already satisfied: numpy>=1.16.6 in c:\users\dell\anaconda3\lib\site-packages (from pyarrow) (1.26.4)
Requirement already satisfied: azure-core>=1.30.0 in c:\users\dell\anaconda3\lib\site-packages (from azure-storage-blob) (1.32.0)
Requirement already satisfied: cryptography>=2.1.4 in c:\users\dell\anaconda3\lib\site-packages (from azure-storage-blob) (43.0.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\anaconda3\lib\site-packages (from azure-storage-blob) (4.11.0)
Requirement already satisfied: isodate>=0.6.1 in c:\users\dell\anaconda3\lib\site-packages (from azure-storage-blob) (0.7.2)
Requirement already satisfied: requests>=2.21.0 in c:\users\dell\anaconda3\lib\site-packages (from azure-core>=1.30.0->azure-storage-blob) (2.32.3)
Requirement already satisfied: six>=1.11.0 in c:\users\dell\anaconda3\lib\site-packages (from azure-core>=1.30.0->azure-storage-blob) (1.16.0)
Requirement already satisfied: cffi>=1.12 in c:\users\dell\anaconda3\lib\site-packages (from cryptography>=2.1.4->azure-storage-blob) (1.17.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.21)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (2024.8.30)

In [95]:
import os
import io
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from dotenv import load_dotenv

In [96]:
load_dotenv(override=True)
connect_str = os.getenv('connect_str')
container_name = os.getenv('container_name')

# CONNECTION TO AZURE BLOB STORAGE
blob_service_client = BlobServiceClient.from_connection_string(connect_str)
container_client = blob_service_client.get_container_client(container_name)

print("Uploading files to Azure Storage as blob...")

Uploading files to Azure Storage as blob...

In [97]:
# function that would upload files as paquet to azure blob storage
def upload_df_to_blob_as_parquet(df, container_client, blob_name):
    buffer = io.BytesIO()
    df.to_parquet(buffer, index=False)
    buffer.seek(0)
    block_client = container_client.get_blob_client(blob_name)
    block_client.upload_blob(buffer, blob_type="BlockBlob", overwrite=True)
    print(f'{blob_name} uploaded to Azure Blob Storage successfully')

In [98]:
upload_df_to_blob_as_parquet(customer, container_client, 'rawdata/customer.parquet') 
upload_df_to_blob_as_parquet(product, container_client, 'rawdata/product.parquet') 
upload_df_to_blob_as_parquet(transaction_fact_table, container_client, 'rawdata/transaction_fact_table.parquet')

rawdata/customer.parquet uploaded to Azure Blob Storage successfully
rawdata/product.parquet uploaded to Azure Blob Storage successfully
rawdata/transaction_fact_table.parquet uploaded to Azure Blob Storage successfully

Tasks

1. Calculate the Revenue

In [ ]:
ziko_df['Total_Revenue'] = ziko_df['Total_Cost'] - (ziko_df['Total_Cost'] * ziko_df['Discount_Rate'])
ziko_df.head()

,Transaction_ID,Date,Customer_ID,Product_ID,Quantity,Unit_Price,Total_Cost,Discount_Rate,Sales_Channel,Order_Priority,...,Payment_Type,Taxable,Region,Country,Customer_Name,Customer_Phone,Customer_Email,Customer_Address,Product_List_Title,Total_Revenue
0,200,2020-01-01 20:32:25.945945945,1086,536,3,120.436821,8265.374549,0.20,Online,High,...,Wire Transfer,False,West,Canada,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA",Product 53,6612.299640
1,321,2020-01-02 06:55:08.108108108,1078,523,6,475.724994,4047.850479,0.00,Reseller,Critical,...,PayPal,True,South,Mexico,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA",Product 33,4047.850479
2,989,2020-01-06 08:12:58.378378378,1077,535,3,146.400556,5096.553818,0.05,Direct,Critical,...,PayPal,True,West,Canada,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA",Product 6,4841.726128
3,682,2020-01-07 22:03:14.594594594,1027,546,6,19.373194,8194.281993,0.00,Reseller,Medium,...,Cash,True,South,Canada,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA",Product 68,8194.281993
4,484,2020-01-07 07:08:06.486486486,1052,556,8,193.221313,8331.329249,0.20,Direct,Low,...,Cash,False,South,Mexico,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA",Product 89,6665.063399

2. Group sales by Region and Country for regional performance tracking.

In [101]:
Regional_Sales = ziko_df.groupby(["Region", "Country"])["Total_Revenue"].sum().reset_index().sort_values(by="Total_Revenue", ascending=False)
Regional_Sales.head()

   Region Country  Total_Revenue
11   West     USA  475167.775115
8   South     USA  444942.631524
1    East  Mexico  422354.114045
10   West  Mexico  416261.406893
7   South  Mexico  415501.246271

3. Top 5 Best-Selling Products by Revenue

In [ ]:
Best_selling_product = ziko_df.groupby("Product_List_Title")["Quantity"].sum().reset_index().sort_values(by="Quantity", ascending=False)
Best_selling_product.head()

   Product_List_Title  Quantity
44          Product 5        91
36         Product 42        84
45         Product 50        84
87         Product 89        84
56         Product 60        82

4. segment customers as high, medium and low value

In [ ]:
# Calculate based on total amount spent per customer
customer_segments = ziko_df.groupby("Customer_ID")["Total_Cost"].sum().reset_index()

# Customer categories based on spending thresholds
customer_segments["Customer_Category"] = customer_segments["Total_Cost"].apply(
    lambda x: "Low-Value" if x <= 20000 else ("Medium-Value" if x <= 50000 else "High-Value")
)
customer_segments.head(10)

   Customer_ID    Total_Cost Customer_Category
0         1001  63262.498687        High-Value
1         1002  57752.609570        High-Value
2         1003  50957.735199        High-Value
3         1004  42875.768184      Medium-Value
4         1005  82135.439128        High-Value
5         1006  61379.484857        High-Value
6         1007  32680.396043      Medium-Value
7         1008  43960.696219      Medium-Value
8         1009  39468.091979      Medium-Value
9         1010  56503.989233        High-Value

5. Total number of high value customers

In [ ]:
high_value_customers = customer_segments[customer_segments["Customer_Category"] == "High-Value"]
high_value_customers.count()

Customer_ID          50
Total_Cost           50
Customer_Category    50
dtype: int64